@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password for @Model.Email</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" enctype="multipart/form-data" onsubmit="return Validate()">
            <div class="form-group">
                <input placeholder="Current Password" id="currentPassword" name="currentPassword" type="password" class="form-control" required />
            </div>
            <div class="form-group">
                <input placeholder="New Password" id="newPassword" name="newPassword" type="password" class="form-control" required />
            </div>
            <div class="form-group">
                <input placeholder="Confirm New Password" id="confirmNewPassword" type="password" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to User List</a>
</div>

<script>
    function Validate() {
        if ($("#newPassword").val() == $("#confirmNewPassword").val()) {
            return true;
        }
        else {
            alert("Confirm Password Does Not Match New Password");
            return false;
        }
    }
</script>