@model VyaparInvoice.Models.CreateProductUnitRateViewModel

@{
    ViewData["Title"] = "Edit";
}
<p class="pageTitle">Products</p>
<br />
<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" required />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            @for (int i = 0; i < Model.Units.Count; i++)
            {
                <div class="form-group">
                    <label asp-for="@Model.Rates[i]" class="control-label">Price per @Model.Units[i].Name</label>
                    <input asp-for="@Model.Rates[i]" class="form-control" min="0" required />
                    <span asp-validation-for="@Model.Rates[i]" class="text-danger"></span>
                </div>
            }
            <input type="hidden" asp-for="Id" />
            @*<input type="hidden" asp-for="CreatorUserId" />*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

